<h1>Placeholders</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Placeholder</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @placeholders.each do |placeholder| %>
      <tr>
        <td><%=placeholder.id%></td>
        <td><span class="text-primary"><%= placeholder.key %></span> => <span class="text-success"><%= placeholder.value %></span></td>
        <td>
          <%= link_to 'Edit', edit_placeholder_path(placeholder), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', placeholder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span><%= link_to 'Documents', documents_path, class: 'btn btn-secondary' %> <%= link_to 'New Placeholder', new_placeholder_path, class: 'btn btn-primary' %></span>

